# Alchemy veya Infura'dan alacağınız WebSocket (WSS) bağlantı URL'si
ETHEREUM_WSS_URL=wss://eth-mainnet.ws.alchemyapi.io/v2/YOUR_API_KEY

# Firebase konsolundan indireceğiniz Service Account JSON dosyasının yolu
FIREBASE_ADMIN_CONFIG_PATH=./firebase-service-account.json
